<!-- footer -->
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="http://rubenduran.net/" class="item">Created By Ruben Duran</a>
                    <a href="http://rubenduran.net/#contact" class="item">Contact Us</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">Fun Facts</h4>
                <p class="item">JD currently has <span class="test"> {{total_trucks}}</span> unique trucks.</p>
                <p class="item">Favorite truck is Max-D</p>
                <p class="item">Most wanted truck is: VP Racing Mad Scientist</p>
                <p class="item">Last added truck was a: <span><a href="/category/{{last_truck.category.category_name}}">{{last_truck.category.category_name}}</a></span> </p>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Truly Appreciated</h4>
                <p>Thank you to everyone who has contributed to his collection. It is pure joy to see the excitement on his face when he receives a new truck.</p>
            </div>
        </div>
    </div>
</div>
<!-- end of footer -->
